<ion-header>
  <ion-toolbar>
    <ion-title>QR Curso 1</ion-title>
    <ion-buttons slot="end">
      <img src="assets/icon/dodo.jpg" alt="Duoc Logo" class="duoc-logo">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
  <div class="qr-container">
    <img src="assets/icon/Clases.png" alt="QR Code">
  </div>
  <ion-button expand="block" color="primary" (click)="goToListaEstudiantes()">Ver Estudiantes</ion-button>
  <ion-button expand="block" color="primary" (click)="goBack()">Volver</ion-button>
</ion-content>