<ion-header>
  <ion-toolbar>
    <ion-title>Aplicación Móviles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
  <ion-list>
    <ng-container *ngFor="let student of students">
      <ion-item *ngIf="student.scanned && student.attendance < 75">
        <ion-label>
          {{ student.name }} - {{ student.attendance }}%
        </ion-label>
        <span class="attendance-warning">Problemas de asistencia</span>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-button expand="block" color="primary" (click)="goBack()">Volver</ion-button>
</ion-content>