ion-content {
  --background: url('/assets/fondo.jpg') no-repeat center center / cover;
}

.qr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:  400px; 
  height: 400px;
  transition: transform 0.3s ease;
  transform: scale(2.0);
}

.qr-container img {
  max-width: 70%;
  height: auto;
}

.duoc-logo {
  height: 70px; 
}