<ion-header>
  <ion-toolbar>
    <ion-title>Editar Estudiante</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Estudiante</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="student.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="student.email"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="save()">Guardar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>