<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/ree.png" alt="REE Logo" class="toolbar-logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-content fade-in">
    <img src="assets/icon/dodo.jpg" alt="Duoc UC Logo" class="login-logo scale-in">
    <ion-item class="slide-in">
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item class="slide-in">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-item class="slide-in">
      <ion-label>Rol</ion-label>
      <ion-select [(ngModel)]="role">
        <ion-select-option value="profesor">Profesor</ion-select-option>
        <ion-select-option value="alumno">Alumno</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" (click)="login()">INGRESAR</ion-button>
    <ion-button expand="full" color="medium" (click)="navigateToResetPassword()">Restablecer Contraseña</ion-button>
  </div>
</ion-content>