$primary-color: #4CAF50; 
$secondary-color: #FF9800; 
$danger-color: #F44336;
$background-color: #E0F7FA; 
$text-color: #212121; 

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {
  --background: url('/assets/fondo.jpg') no-repeat center center / cover;
}

.duoc-logo {
  height: 40px; 
}

ion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: white;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

ion-item:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

ion-icon {
  font-size: 24px;
  margin-left: auto;
}

ion-button {
  width: 200px;
  margin-top: 20px;
  align-self: center;
  border-radius: 50px;
  background-color: $primary-color;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

ion-button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: darken($primary-color, 10%);
}

@media (max-width: 600px) {
  ion-button {
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  }
}